<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring5JokesAppV2Application" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="1.8" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="com.example.spring5jokesappv2.Spring5JokesAppV2Application" />
    <module name="spring5-jokes-app-v2" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.example.spring5jokesappv2.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>